.js [data-menu="button"]{
  display: none;
  font: 600 1rem/1.2 'Open Sans', sans-serif;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  justify-content: center;
  color: var(--cor-4);
}
@media(max-width:1000px){
  .js [data-menu="button"]{
    display: block;
  }
}