.btn-1{
     font: 400 0,875rem/1 'Open Sans', sans-serif;
     text-transform: uppercase;
     padding: 10px 20px;
     border: none;
     background:linear-gradient(#BE0007, #99151A);
     color: var(--cor-2);
     cursor: pointer;
}

.btn-1:hover{
     background: linear-gradient(#BE0007, #750409);
}