[data-menu="button"] {
  display: none;
}
@media(max-width:1000px){
    [data-menu="button"] {
    display: flex;
    font: 600 1rem/1.2 "Open Sans", sans-serif;
    text-transform: uppercase;
    background: none;
    padding: 2px 10px;
    border: none;
    cursor: pointer;
    position: relative;
  }

  [data-menu="button"]::after {
    content: "";
    height: 2px;
    width: 12px;
    background: currentColor;
    position: absolute;
    right: -10%;
    bottom: 50%;
  }
    [data-menu="suave"].ativo .header-menu{
    display: flex;
    flex-direction: column;
  }
}