.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 50px;
}
.footer h4 {
  font: 700 1.25rem/1.2 "Kodchasan", sans-serif;
  text-transform: uppercase;
}

.footer-menu {
  display: grid;
  gap: 20px;
  text-transform: uppercase;
  font: 700 1.25rem/1.2 "Kodchasan", sans-serif;
}
@media(max-width:1000px){
  .footer{
    grid-template-columns: 1fr;
  }
}