.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:30px;
    padding-bottom: 30px;
    background: var(--cor-2);
}

.header-menu{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 35px;
}