.introducao-bg{
    background-color: var(--cor-2);
}
.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.titulo{
    text-transform: uppercase;
    max-width: 8ch;
    z-index: 100;
}
.social-midia{
    display: flex;
    gap: 30px;
}