.introducao-bg{
    background-color: var(--cor-2);
}
.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
}
.introducao-conteudo{
    display: grid;
    gap: 30px;
}
.introducao-conteudo p{
    max-width: 40ch;
}
.social-midia{
    display: flex;
    gap: 30px;
}
@media(max-width:1000px){
    .introducao{
        grid-template-columns: 1fr;
    }
}