.introducao-bg{
    background-color: var(--cor-2);
}
.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
}
.introducao-conteudo{
    display: grid;
    gap: 30px;
    position: absolute;
    z-index: 100;
}
.introducao-conteudo p{
    max-width: 40ch;
}
.introducao-img{
    width: 700px;
    left: 60%;
    position: relative;
}
.titulo{
    text-transform: uppercase;
    max-width: 8ch;
    z-index: 100;
}
.social-midia{
    display: flex;
    gap: 30px;
}