.membros{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap:30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.membros-conteudo{
    background: var(--cor-4);
    color: var(--cor-2);
    padding: 20px 50px;
    border-radius: 10px;
    display: grid;
    width: 350px;
    height: 350px;
    gap: 15px;
}

.membros-pessoa{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.membros-social-midia{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}